<!DOCTYPE html>
<html lang = "en" dir = "ltr">

  <head>
    <meta charset = "utf-8">
    <title>Mushroom Site</title>
    <link rel = "stylesheet" href = "../static/css/main.css"/>
    <script src = "../static/js/main.js" defer></script>
  </head>

  <body>

    <div class = "main-body blurred" style = "pointer-events : none;">
      <div class = "top-section">
        <div class = "title-section">
          <div class = "title-box">
            <h1 class = "title-text">Mushrooms</h1>
          </div>
        </div>
        <div class = "navigation-section">
          <a class = "navigation-box navigation-box-1 clickable" href = "https://github.com/keyywind/">
            <h2 class = "navigation-text navigation-text-1">Keywind</h2>
          </a>
        </div>
      </div>
      <div class = "mid-bot-section">
        <div class = "mid-section">
          <div class = "entry-section">
            <div class = "entry-box entry-box-1">
              <label class = "entry-text entry-text-1">[1] Cap Shape: </label>
              <select class = "entry-value entry-value-1">
                <option value = "0">Bell</option>
                <option value = "1">Conical</option>
                <option value = "2">Convex</option>
                <option value = "3">Flat</option>
                <option value = "4">Knobbed</option>
                <option value = "5">Sunken</option>
              </select>
            </div>
            <div class = "entry-box entry-box-2">
              <label class = "entry-text entry-text-2">[2] Cap Surface: </label>
              <select class = "entry-value entry-value-2">
                <option value = "0">Fibrous</option>
                <option value = "1">Grooves</option>
                <option value = "2">Scaly</option>
                <option value = "3">Smooth</option>
              </select>
            </div>
            <div class = "entry-box entry-box-3">
              <label class = "entry-text entry-text-3">[3] Cap Color: </label>
              <select class = "entry-value entry-value-3">
                <option value = "0">Brown</option>
                <option value = "1">Buff</option>
                <option value = "2">Cinnamon</option>
                <option value = "3">Gray</option>
                <option value = "4">Green</option>
                <option value = "5">Pink</option>
                <option value = "6">Purple</option>
                <option value = "7">Red</option>
                <option value = "8">White</option>
                <option value = "9">Yellow</option>
              </select>
            </div>
            <div class = "entry-box entry-box-4">
              <label class = "entry-text entry-text-4">[4] Bruises: </label>
              <select class = "entry-value entry-value-4">
                <option value = "0">Yes</option>
                <option value = "1">No</option>
              </select>
            </div>
            <div class = "entry-box entry-box-5">
              <label class = "entry-text entry-text-5">[5] Odor: </label>
              <select class = "entry-value entry-value-5">
                <option value = "0">Almond</option>
                <option value = "1">Anise</option>
                <option value = "2">Creosote</option>
                <option value = "3">Fishy</option>
                <option value = "4">Foul</option>
                <option value = "5">Musty</option>
                <option value = "6">None</option>
                <option value = "7">Pugnent</option>
                <option value = "8">Spicy</option>
              </select>
            </div>
            <div class = "entry-box entry-box-6">
              <label class = "entry-text entry-text-6">[6] Gill Attachment: </label>
              <select class = "entry-value entry-value-6">
                <option value = "0">Attached</option>
                <option value = "1">Descending</option>
                <option value = "2">Tree</option>
                <option value = "3">Notched</option>
              </select>
            </div>
            <div class = "entry-box entry-box-7">
              <label class = "entry-text entry-text-7">[7] Gill Spacing: </label>
              <select class = "entry-value entry-value-7">
                <option value = "0">Close</option>
                <option value = "1">Crowded</option>
                <option value = "2">Distant</option>
              </select>
            </div>
            <div class = "entry-box entry-box-8">
              <label class = "entry-text entry-text-8">[8] Gill Size: </label>
              <select class = "entry-value entry-value-8">
                <option value = "0">Broad</option>
                <option value = "1">Narrow</option>
              </select>
            </div>
            <div class = "entry-box entry-box-9">
              <label class = "entry-text entry-text-9">[9] Gill Color: </label>
              <select class = "entry-value entry-value-9">
                <option value = "0">Black</option>
                <option value = "1">Brown</option>
                <option value = "2">Buff</option>
                <option value = "3">Chocolate</option>
                <option value = "4">Gray</option>
                <option value = "5">Green</option>
                <option value = "6">Orange</option>
                <option value = "7">Pink</option>
                <option value = "8">Purple</option>
                <option value = "9">Red</option>
                <option value = "10">White</option>
                <option value = "11">Yellow</option>
              </select>
            </div>
            <div class = "entry-box entry-box-10">
              <label class = "entry-text entry-text-10">[10] Stalk Shape: </label>
              <select class = "entry-value entry-value-10">
                <option value = "0">Enlarging</option>
                <option value = "1">Tapering</option>
              </select>
            </div>
            <div class = "entry-box entry-box-11">
              <label class = "entry-text entry-text-11">[11] Stalk Root: </label>
              <select class = "entry-value entry-value-11">
                <option value = "0">Bulbous</option>
                <option value = "1">Club</option>
                <option value = "2">Cup</option>
                <option value = "3">Equal</option>
                <option value = "4">Rhizomorphs</option>
                <option value = "5">Rooted</option>
              </select>
            </div>
            <div class = "entry-box entry-box-12">
              <label class = "entry-text entry-text-12">[12] Stalk Surface Above Ring: </label>
              <select class = "entry-value entry-value-12">
                <option value = "0">Fibrous</option>
                <option value = "1">Scaly</option>
                <option value = "2">Silky</option>
                <option value = "3">Smooth</option>
              </select>
            </div>
            <div class = "entry-box entry-box-13">
              <label class = "entry-text entry-text-13">[13] Stalk Surface Below Ring: </label>
              <select class = "entry-value entry-value-13">
                <option value = "0">Fibrous</option>
                <option value = "1">Scaly</option>
                <option value = "2">Silky</option>
                <option value = "3">Smooth</option>
              </select>
            </div>
            <div class = "entry-box entry-box-14">
              <label class = "entry-text entry-text-14">[14] Stalk Color Above Ring: </label>
              <select class = "entry-value entry-value-14">
                <option value = "0">Brown</option>
                <option value = "1">Buff</option>
                <option value = "2">Cinnamon</option>
                <option value = "3">Gray</option>
                <option value = "4">Orange</option>
                <option value = "5">Pink</option>
                <option value = "6">Red</option>
                <option value = "7">White</option>
                <option value = "8">Yellow</option>
              </select>
            </div>
            <div class = "entry-box entry-box-15">
              <label class = "entry-text entry-text-15">[15] Stalk Color Below Ring: </label>
              <select class = "entry-value entry-value-15">
                <option value = "0">Brown</option>
                <option value = "1">Buff</option>
                <option value = "2">Cinnamon</option>
                <option value = "3">Gray</option>
                <option value = "4">Orange</option>
                <option value = "5">Pink</option>
                <option value = "6">Red</option>
                <option value = "7">White</option>
                <option value = "8">Yellow</option>
              </select>
            </div>
            <div class = "entry-box entry-box-16">
              <label class = "entry-text entry-text-16">[16] Vein Type: </label>
              <select class = "entry-value entry-value-16">
                <option value = "0">Partial</option>
                <option value = "1">Universal</option>
              </select>
            </div>
            <div class = "entry-box entry-box-17">
              <label class = "entry-text entry-text-17">[17] Vein Color: </label>
              <select class = "entry-value entry-value-17">
                <option value = "0">Brown</option>
                <option value = "1">Orange</option>
                <option value = "2">White</option>
                <option value = "3">Yellow</option>
              </select>
            </div>
            <div class = "entry-box entry-box-18">
              <label class = "entry-text entry-text-18">[18] Ring Number: </label>
              <select class = "entry-value entry-value-18">
                <option value = "0">None</option>
                <option value = "1">One</option>
                <option value = "2">Two</option>
              </select>
            </div>
            <div class = "entry-box entry-box-19">
              <label class = "entry-text entry-text-19">[19] Ring Type: </label>
              <select class = "entry-value entry-value-19">
                <option value = "0">Cobwebby</option>
                <option value = "1">Evanescent</option>
                <option value = "2">Flaring</option>
                <option value = "3">Large</option>
                <option value = "4">None</option>
                <option value = "5">Pendant</option>
                <option value = "6">Sheathing</option>
                <option value = "7">Zone</option>
              </select>
            </div>
            <div class = "entry-box entry-box-20">
              <label class = "entry-text entry-text-20">[20] Spore Print Color: </label>
              <select class = "entry-value entry-value-20">
                <option value = "0">Brown</option>
                <option value = "1">Buff</option>
                <option value = "2">Cinnamon</option>
                <option value = "3">Gray</option>
                <option value = "4">Orange</option>
                <option value = "5">Pink</option>
                <option value = "6">Red</option>
                <option value = "7">White</option>
                <option value = "8">Yellow</option>
              </select>
            </div>
            <div class = "entry-box entry-box-21">
              <label class = "entry-text entry-text-21">[21] Population: </label>
              <select class = "entry-value entry-value-21">
                <option value = "0">Abundant</option>
                <option value = "1">Clustered</option>
                <option value = "2">Numerous</option>
                <option value = "3">Scattered</option>
                <option value = "4">Several</option>
                <option value = "5">Solitary</option>
              </select>
            </div>
            <div class = "entry-box entry-box-22">
              <label class = "entry-text entry-text-22">[22] Habitat: </label>
              <select class = "entry-value entry-value-22">
                <option value = "0">Grasses</option>
                <option value = "1">Leaves</option>
                <option value = "2">Meadows</option>
                <option value = "3">Paths</option>
                <option value = "4">Urban</option>
                <option value = "5">Waste</option>
                <option value = "6">Woods</option>
              </select>
            </div>
          </div>
          <div class = "result-section">
            <button type = "button" class = "submit-button clickable" onclick = "get_values()">Submit</button>
            <input type = "text" class = "result-text" placeholder = "Poisonous/Edible" style = "text-align : center;"/>
          </div>
        </div>
        <div class = "bot-section">
          <div class = "copyright-box">
            <h2 class = "copyright-text">
              Copyright Keywind 2021
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class = "loader-div">
      <div class = "loader">
      </div>
    </div>
  </body>

</html>
